.header{
background-color: cyan;
}

.items{
background-color: yellow;
}

.center{
display:block;
margin-left:auto;
margin-right:auto;
width:50%
}

.footer{
display:block;
margin-left:auto;
margin-right:auto;
width:50%
}